<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Excluir Planeta</title>

    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/compilado/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "node_modules/bootstrap/compilado/estilo.css" %}">
  </head>
  <body>

<nav class="navbar navbar-expand-sm navbar-dark bg-warning mb-3">
<div class="container">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'adicionar_planeta' %}"><button type="button" class="btn btn-dark" disabled>Adicionar Novo Planeta</button></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'listar_planetas' %}"><button type="button" class="btn btn-dark">Listar Planetas</button></a>
		</li>
    <!--<li class="nav-item">
      <a class="nav-link" href="{% url 'listar_planetas' %}"><button type="button" class="btn btn-dark" disabled>Voltar</button></a>
    </li>-->
	</ul>
	<form class="form-inline ">
		<input class="form-control ml-4 mr-2" type="search" placeholder="Buscar...">
		<button class="btn btn-success" type="Submit">Ir</button>
	</form>	
</div>
</nav>

<section>

  <div class="container">

    <div class="row">

      <div class="col-12 text-center">

        <h1 class="font-weight-light mt-5 mb-5">Deseja realmente excluir o planeta {{ planeta_escolhido.planeta}} ?</h1>

        <form method="POST" enctype = "multipart/form-data">
          {% csrf_token %}

          <button type="submit" class="btn btn-danger">Excluir</button>
          <a href="{% url 'listar_planetas' %}" class="btn btn-info" role="button" aria-pressed="true">Cancelar</a>

        </form>

      </div>        

    </div> 

  </div>

</section>

<div class="container">

</div>

    <script src="{% static "node_modules/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "node_modules/popper.js/dist/umd/popper.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.js" %}"></script>

</body>
</html>


